<div class="text-align: center">
    <div class="col-6 text-end">
        <a asp-action="ProductCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Task</a>
    </div>
</div>
